table, tr, td{
    border: 1px solid black;
    font-weight: bold;
    width: 650px;
    text-align: center;
    font-size: 40px;
}
button{
    border: none;
    background: none;
    font-size: 50px;
    text-align: center;
}
tr td:last-child{
    background-color: orange;
    color: #fff !important;
}
.lastColumn{
    color: #fff !important;
}
.result{
    background-color: #e6e2e7 !important;
    color: #fff !important;
    height: 100px !important;
}